.about {
  background: var(--darkbg);
  color: var(--lightbg);

  & p,
  & h2 {
    margin-bottom: 1.5rem;
  }

  & img {
    border-radius: 50%;
    display: block;
    height: 12rem !important;
    margin: 0 auto !important;
    width: 12rem !important;
  }

  & .split {
    align-self: start;


    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  & a {
    display: block;

  }
}